@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
  overflow: hidden;
}

#map-container {
    font-family: 'Lobster Two', cursive;
    background-image: url("../../../public/img/backgrounds/profile.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 105vh;
    background-repeat: round;
    overflow: hidden;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-left: 20px;
}

.container {
    background:   #fae5d3 ;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(218, 112, 214, 0.25), 0 10px 10px rgb(32, 13, 58);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.menu {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 250px;
    margin-top: 30px;
    background-color: #fae5d3;
    box-shadow: 0 14px 28px rgba(218, 112, 214, 0.25), 0 10px 10px rgb(32, 13, 58);
}

.map-box {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(218, 112, 214, 0.25), 0 10px 10px rgb(32, 13, 58);
    position: relative;
    overflow: hidden;
    width: 53%;
    min-height: 70%;
    background: #fae5d3 ;
}

.menu {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 250px;
    margin-top: 30px;
    background-color: #fae5d3;
    box-shadow: 0 14px 28px rgba(218, 112, 214, 0.25), 0 10px 10px rgb(32, 13, 58);
}

.places{
    cursor: pointer;
}