.modal-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fae5d3;
    padding: 50px;
    z-index: 1000;
    border-radius: 30px;
}

.overlay-style{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .7);
    z-index: 1000;
}

.modal-button{
    border-radius: 50px;
}

.modal-text{
    font-size: 20px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

p{
    color: #1c3553;
}