/* importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#menu-container {
    font-family: 'Lobster Two', cursive;
    background-image: url("../../../public/img/backgrounds/profile.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 105vh;
    margin: -20px 0 50px;
    background-repeat: round;
    overflow: hidden;
}

h1 {
    font-weight: bold;
    margin: 0;
    color:  #FFB6C1 ;
}

p {
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0 30px;
}

.text {
    overflow: auto;
}

.text span {
    font-size: 18px;
}

a {
    /*color:  #DAF7A6;*/
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container {
    background:   #fae5d3 ;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(218, 112, 214, 0.25), 0 10px 10px rgb(32, 13, 58);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    float: left;
}

/* img navbar */
.imgNav{
    height: 30px;
    width: 30px;
}

/* NAVBAR */
*, *:after, *:before {
    box-sizing: border-box;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}
h3 {
    margin-block-end: 0px;
}

.context-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
}
.context-buttons span {
    padding-left: 40px;
    margin-right: 10px;
}
.context-button {
    font: inherit;
    outline: none;
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;
}


.settings-button svg {
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

/* .yeeet*/

.context-buttons span {
    padding-left: 40px;
    margin-right: 10px;
}
.context-button {
    font: inherit;
    outline: none;
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;
    background-color:  #f6d7d7;
    cursor: pointer;
    color: #1c3553;
}

/* SPEECH TEXT BOX*/

.text span {
    opacity: 0;
}
.text span.revealed {
    opacity: 1;
}
.text span.green {
    color: #27ae60;
}
.text span.red {
    color: #ff0000;
}

.text {
    font-size: 5vw;
    background: #f6d7d7;
    padding: 10px;
    position:relative;
    line-height: 0.1em;
    width: 660px;
    height: 180px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 10px;
    text-align: center;
}
.corner {
    position:absolute;
    width: 10vw;
    right:2vw;
    bottom:0;
    transform: translateY(80%);
}

.aswersBoxes{
    width : 100% ;
    display : flex ;
    justify-content : center ;
    align-items : center ;
}

.aswersBoxes2{
    float: left;
    width : 100% ;
    display : flex ;
    align-items : center ;
}
