.bar-container{
    border-radius: 50px;
    margin: 5%;
    margin-right: 4%;
    background-Color: rgb( 246, 215, 215, 0.7);
}

.bar-label{
    color: #1c3553;
    font-weight: bold;
    border-radius: 50px;
    width: 100%;
    margin-left: 10px;
}