.skill-name:after {
    background-color: #999797;
    content: '';
    display: block;
    height:1rem;
    position: relative;
    top: 3px;
    top: 1rem;
    width: 100%;
  }
    
  .skill-percent {
    font-size: 0;
    height: 1rem;
    position: relative;
    top: -.8rem;
    transition: 3s linear;
    width: 0;
  }