.resume-menu {
    /*display: block ruby;*/
    /*flex-direction: column;
    position: relative;
    float: left;*/
    border-radius: 10px;
    width: 250px;
    background-color: #fae5d3;
    box-shadow: 0 14px 28px rgba(218, 112, 214, 0.25), 0 10px 10px rgb(32, 13, 58);
}

.resume-list {
    margin: 0;
    display: block;
    width: 100%;
    padding: 8px;
}

.resume-list {
    margin: 0;
    display: block;
    width: 100%;
    padding: 8px;
}

.resume-list, ul {
    list-style-type: none;
}
.resume-list + .resume-list {
    border-top: 1px solid #ddd;
}

.resume-item {
    position: relative;
    padding: 3%;
}
.resume-button {
    font: inherit;
    color: inherit;
    border: 0;
    padding: 8px 8px;
    width: 200px;
    height: 55px;
    margin-left: 10px;
    border-radius: 8px;
    background-color: #f6d7d7;
    cursor: pointer;
}

.resume-button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: rgb(183, 224, 56, 0.7);
    transition: 0.7s;
    background-color: rgb(38, 122, 107, 0.7);
}

span{
    color: #1c3553;
}

.left-list{
    width: 73%;
    position: absolute;
}